# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
config/forge.cfg
config/forgeChunkLoading.cfg
config/splash.properties
config/whereamigoing.cfg
logs/2020-07-31-1.log.gz
logs/2020-08-01-1.log.gz
logs/debug-1.log.gz
logs/debug-2.log.gz
logs/debug.log
logs/latest.log
options.txt
saves/New World/advancements/05a2b883-672c-35b9-82ec-eccc4e0cabc2.json
saves/New World/data/capabilities.dat
saves/New World/data/Mineshaft.dat
saves/New World/data/Village.dat
saves/New World/data/villages.dat
saves/New World/DIM-1/data/capabilities.dat
saves/New World/DIM-1/data/villages_nether.dat
saves/New World/DIM-1/forcedchunks.dat
saves/New World/DIM1/data/capabilities.dat
saves/New World/DIM1/data/villages_end.dat
saves/New World/DIM1/forcedchunks.dat
saves/New World/forcedchunks.dat
saves/New World/icon.png
saves/New World/level.dat
saves/New World/level.dat_old
saves/New World/playerdata/05a2b883-672c-35b9-82ec-eccc4e0cabc2.dat
saves/New World/region/r.-1.-1.mca
saves/New World/region/r.-1.0.mca
saves/New World/session.lock
saves/New World/stats/05a2b883-672c-35b9-82ec-eccc4e0cabc2.json
usercache.json
usernamecache.json
